[Unit]
Description=Webcam to RTSP Streaming Service
After=virtual_cam.service
Requires=virtual_cam.service

[Service]
Type=simple
User=admin
ExecStart=/home/admin/better-rvc/streaming/stream.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target